.row_buffer{
	margin-top: 10px
}

.row_buffer_big{
	margin-top: 25px
}

body{
	background-color: azure;
}

/*------ NAVBAR ------*/
#logo {
	display: block;
	color: orange;
	font-size: 22px;
   text-align: right;
   text-transform: uppercase;
}

#logo i{
   color: #04bacf;
}

.nav-item.active{
	box-shadow: 3px 3px 5px #555;
}

.nav-item:hover{
	box-shadow: 3px 3px 5px #555;
}

.nav-item a{
	font-size: 17px;
	text-transform: uppercase;
}

/*------ END NAVBAR ------*/


.division_line{
	display:block; 
	height: 10px;
	background-color: e7f5fe;
   border: 1px outset #000010;
}

.img_Container{
	position: relative;
	margin: 0;
	max-height: 500px;
	width: 100%;
	border-radius: 40px;
	background: transparent no-repeat center;
	overflow: hidden;
	opacity: 0.75;
}

.over_img_opaque_line{
	position: absolute;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(191, 191, 191, 0.5);
	text-align: center;
}

.over_img_text{
	width: 25vmin;
	text-align: center;
	margin: auto;
	color: whitesmoke;
	letter-spacing: 1px;
	text-transform: uppercase;
	background-color: rgba(166, 166, 166, 0.8);
	text-shadow: 1px 1px 10px #000000;
	padding: 10px 5px;
	box-shadow: 3px 3px 4px #666;
	margin-bottom: 4px;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	.over_img_text{
		font-size: 0.5em;
	}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
	.over_img_text{
		font-size: 0.75em;
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
	.over_img_text{
		font-size: 1.25em;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px){
	.over_img_text{
		font-size: 1.5em;
	}
}
/*------ FOOTER ------*/

#footer{
   border-top: 1px solid #798992;
   margin-top: 30px;
   position: fixed;
   bottom: 0;
   width: 100%
}

.footer_content{
   background: white;
   padding-top: 9px;
}


.more_info-btn{
   font-size: 16;
   text-transform: uppercase;
   color: #fff;
   letter-spacing: -1px;
   background-color: #97cc1e;
}

.more_info-btn:hover{
	width: 150px;
   color: #fff;
   text-transform: full-width;
   letter-spacing: 1px;
}

.donate-btn{ 
	color: whitesmoke;
	font-size: 24;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 8px 15px;
	background-color: #ff4d4d;
	box-shadow: 0 3px 0 0 #cc0000;
}

.donate-btn:hover {
	color: black;
	background-color: #ff8080;
	border-color: #ff6666;
}

/*------ END FOOTER ------*/