/*Usata la classe wwa-body, cambiato img_container e scritta sopra*/

.row_buffer{
	margin-top: 10px
}

body{
	background-color: #FEFAFA;

}

/*------ NAVBAR ------*/
#logo {
	display: block;
	color: orange;
	font-size: 22px;
   text-align: right;
   text-transform: uppercase;
}

#logo i{
   color: #04bacf;
}

.nav-item.active{
	box-shadow: 3px 3px 5px #555;
}

.nav-item:hover{
	box-shadow: 3px 3px 5px #555;
}

.nav-item a{
	font-size: 17px;
	text-align: center;
	text-transform: uppercase;
}

.social{
	display : flex;
	justify-content: center;
}

.blockquote{
	display:inline-block;
	padding : 5px;
	margin-top: 30px;
	margin-bottom: 50px;
	border : 1px solid grey;
	border-radius : 5px;
}

/**------ PRESENTATION IMAGE -------*/

.img_Container{
	margin : auto;
	width:100%;
	display :block;
	max-height: 500px;
	border-radius: 40px;
	background-color: white;
	opacity: 0.75;
}

.over_img_opaque_line_whoweare{
	position: absolute;
	width: 100%;
	top: 60%;
	left: 50%;
	overflow:hidden;
	transform: translate(-50%, -50%);
	background-color: rgba(191, 191, 191, 0.4);
}

.over_img_text{
	width: 25vw;
	text-align: center;
	margin: auto;
	color: whitesmoke;
	letter-spacing: 1px;
	text-transform: uppercase;
	background-color: rgba(166, 166, 166, 0.6);
	text-shadow: 1px 1px 10px #000000;
	padding: 10px 5px;
	box-shadow: 3px 3px 4px #666;
	margin-bottom: 4px;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	.over_img_text{
		font-size: 0.5em;
	}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
	.over_img_text{
		font-size: 0.75em;
		width: 25vw;
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
	.over_img_text{
		font-size: 1.25em;
		width: 35vw;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px){
	.over_img_text{
		font-size: 1.7em;
		width: 35vw;
	}
}


/*------ END NAVBAR ------*/

.wwa-body{
	margin : auto;
	margin-top : 25px;
	text-align: center;
	background-color: white;
}


.nav-itemfooter a{
	border-right-style: solid ;
	border-right-width: 1px;
	padding-top: 1px;
	padding-bottom: 1px;

}

.navbarfooter{
	padding: 0px;
}

.present_left h2{
	text-align: center;
}

.present_left img{
	width: 100%;
	border-radius: 25px;
}

.present_right{
   background: #73AD21;
   margin-top: 20px;
   padding: 20px;
   border-radius: 25px;
}

.img_Container{
	position: relative;
	margin: 0;
	max-height: 500px;
	width: 100%;
	border-radius: 40px;
	background: no-repeat center;
	overflow: hidden;
	opacity: 0.75;
}

.present_right h5{
	background-color: red;
	padding: 0px 50px
}

.division_line{
	display:block;
	height: 10px;
	background-color: e7f5fe;
   border: 1px outset #000010;
}

.card-content, img{
   max-width: 100%;
   text-align: center
}

.body-content{
  margin-bottom: 150px;
	background-color: white;
}

#footer{
   border-top: 1px solid #798992;
   margin-top: 30px;
   bottom: 0;
   width: 100%
}

.footer_content{
   background: white;
   padding-top: 9px;
}

.more_info-btn{
   font-size: 16;
   text-transform: uppercase;
   color: #fff;
   letter-spacing: -1px;
   background-color: #97cc1e;
}

.more_info-btn:hover{
	width: 150px;
   color: #fff;
   text-transform: full-width;
   letter-spacing: 1px;
}

.donate-btn{
	color: whitesmoke;
	font-size: 24;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 10px;
	background-color: #ff4d4d;
	box-shadow: 0 3px 0 0 #cc0000;
}

.donate-btn:hover {
	color: black;
	background-color: #ff8080;
	border-color: #ff6666;
}
